ZXC_DISCORD_TOKEN=
ZXC_LOG_LEVEL=Information
ZXC_ALLOWED_ROLE_IDS=
ZXC_ACCESS_STORE_PATH=/opt/zxc/access.json
ZXC_AUTH_BASE_URL=https://auth.deadspace14.net/api/
ZXC_API_BASE_URL=https://api-games.pyte.me/api/ss14/
ZXC_API_TOKEN=
ZXC_UPDATE_SCRIPT_PATH=/opt/zxc/update.sh
ZXC_RESTART_SCRIPT_PATH=/opt/zxc/restart.sh
ZXC_REPOSITORY_PATH=/opt/zxc-src
